body{
    overflow-x: hidden;
}
.primary-text {
    color: #4779E8;
}

.Neutral5 {
    color: #52606D;
}

.Neutral4 {
    color: #3E4C59;
}

.gradient {
    background: linear-gradient(270deg, #FFFFFF 0%, #D3DCFF 50.5%, #FFFFFF 100%);
}

.demo-wrap {
    position: relative;
    overflow: hidden;
}

.demo-bg {
    opacity: 0.5;
    position: absolute;
    width: calc(100vw - 160px);
    background-position: center;
    object-fit: cover;
    height: 304px;
}

.demo-content {
    position: relative;
}
.stats-wrap {
    position: relative;
    overflow: hidden;
}

.stats-bg {
    opacity: 0.4;
    position: absolute;
    width: calc(100vw - 160px);
    background-position: center;
    object-fit: cover;
    height: 462px;
}

.stats-content {
    position: relative;
}
.dh-bg{
    background-color: #F6F7FB;
}

