body {
  overflow-x: hidden;
}
.primary-text {
  color: #4779e8;
}

.Neutral5 {
  color: #52606d;
}

.Neutral4 {
  color: #3e4c59;
}

.gradient {
  background: linear-gradient(270deg, #ffffff 0%, #d3dcff 50.5%, #ffffff 100%);
}

.demo-wrap {
  position: relative;
  overflow: hidden;
}

.demo-bg {
  opacity: 0.5;
  position: absolute;
  background-position: center;
  object-fit: cover;
  height: 304px;
}

.demo-content {
  position: relative;
}
.stats-wrap {
  position: relative;
  overflow: hidden;
}

.stats-bg {
  opacity: 0.4;
  position: absolute;
  background-position: center;
  object-fit: cover;
  height: 462px;
}

.stats-content {
  position: relative;
}
.dh-bg {
  background-color: #f6f7fb;
}

.thin-scroll {
  scrollbar-width: thin;
}
